#main {
    position: relative;
    background-color: rgba(24, 28, 31, 0.8);
    min-width: 75vw;
    max-width: 90vw;
    min-height: 75vh;
    margin: 110px auto 0 auto;
}

#main:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px solid rgba(24, 28, 31, 0.2);
}
