body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    /* TODO: Double bg image with the second one cut-out and repeat positioned */
    background-image: url(/images/bg.png);
    width: 100%;
    min-height: 100vh;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}
